@model IEnumerable<evcommerce.Models.Category>

@{
    ViewData["Title"] = "Каталог товаров";
}

<h1>Каталог товаров</h1>
<h2>Категории</h2>

<br />

@foreach (var item in Model)
{
    @Html.ActionLink(item.Name, "Index", "SubCategories", new { parent = item.Id }, new { @class = "btn btn-outline-info btn-lg btn-block" })
}

