@{
    ViewData["Title"] = "Home Page";
}

<header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <!-- Slide One - Set the background image for this slide in the line below -->
            <div class="carousel-item active" style="background-image: url('https://source.unsplash.com/RCAhiGJsUUE/1920x1080')">
                <div class="carousel-caption d-none d-md-block">
                    <h3 class="display-4">First Slide</h3>
                    <p class="lead">This is a description for the first slide.</p>
                </div>
            </div>
            <!-- Slide Two - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('https://source.unsplash.com/wfh8dDlNFOk/1920x1080')">
                <div class="carousel-caption d-none d-md-block">
                    <h3 class="display-4">Second Slide</h3>
                    <p class="lead">This is a description for the second slide.</p>
                </div>
            </div>
            <!-- Slide Three - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('https://source.unsplash.com/O7fzqFEfLlo/1920x1080')">
                <div class="carousel-caption d-none d-md-block">
                    <h3 class="display-4">Third Slide</h3>
                    <p class="lead">This is a description for the third slide.</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</header>

<!-- Page Content-->
<div class="text-center">
    <h1 class="display-4">Товары Миров</h1>
    <p>
        Знаменитый магазин товаров из любой точки любого мира теперь доступен и в интернете!
        Мы предоставляем практически неограниченный ассортимент товаров как с Земли, так и со Средиземья, Вестероса, Нирна, а также с совершенно
        иных планов бытия. Наши поставщики обеспечивают высочайшее качество производства, а доставить эти товары вам готовы наши лучшие партнеры
        -- службы доставки с вселенскими именами!
    </p>

    @Html.ActionLink("Перейти в каталог товаров", "Index", "Categories", null, new { @class = "btn btn-primary btn-lg btn-block active" })

</div>

<br />

<div class="jumbotron cyrodiil">
    <div class="jumbotron special-card">
    <h1 class="display-4 text-light">Сиродильские клинки</h1>
    <p class="lead text-light">Имперская провинция славится мастерами на все руки. Но больше всего внимание привлекают древние эльфийские клинки, которые можно найти в айлейдских руинах. Нет нужды рисковать, если подобный клинок всегда можно найти у нас!</p>
    </div>
        <hr class="my-4">

    <p class="lead">
        @Html.ActionLink("Узнать больше", "Index", "Items", new { category = 4 }, new { @class = "btn btn-outline-light btn-lg" })
    </p>
</div>

<br />

<div class="jumbotron piltover">
    <div class="jumbotron special-card">
        <h1 class="display-4 text-light">Мушкеты из Пилтовера</h1>
        <p class="lead text-light">Мастера хекстекового ремесла из города технологий представляют свои новейшие разработки. Ограниченная серия товаров из Пилтовера!</p>
    </div>
        <hr class="my-4">
        <p class="lead">
            @Html.ActionLink("Узнать больше", "Index", "Items", new { category = 47 }, new { @class = "btn btn-outline-light btn-lg" })
        </p>
    </div>

<div class="jumbotron tirit">
    <div class="jumbotron special-card">
        <h1 class="display-4 text-light">Гондорские щиты</h1>
        <p class="lead text-light">Надежные щиты из самого Гондора! Великое королевство людей из Средиземья представляет великолепную партию щитов, выдерживающих самые тяжелые удары. Не упустите!</p>
    </div>
    <hr class="my-4">
    <p class="lead">
        @Html.ActionLink("Узнать больше", "Index", "Items", new { category = 47 }, new { @class = "btn btn-outline-light btn-lg" })
    </p>
</div>
