@model IEnumerable<evcommerce.Models.SubCategory>

@{
    ViewData["Title"] = "Каталог товаров";
}

<h1>Каталог товаров</h1>
<h2>@ViewBag.ParentName</h2>

<br />

@foreach (var item in Model)
{
    @Html.ActionLink(item.Name, "Index", "Items", new { category = item.Id }, new { @class = "btn btn-outline-info btn-lg btn-block " })
}

